html{
  scroll-behavior: smooth;
}

body{
  position: relative;
  display:flex;
  flex-direction: column;
  text-align:center;
  min-height: 100vh;
  background-color: #222831;
  color: #585f69;
  font-family: 'Philosopher', sans-serif;
}

h1{
  font-family: 'Abril Fatface', cursive;
}

/* Header section */

#header{
  padding: 1% 15%;
}

.page-title{
  font-size: 7vmax;
  color:#EEEEEE;
}

.fa-flag{
  color: #ee9d5b;
  font-size: 5vmax;
}

.refresh-btn{
  margin: 2%;
}

.edit-names{
  margin: 2%;
}

/* Game section */

#game-section{
  padding: 0 15%;
}

.row{
  width: 80%;
  margin: auto;
}

.player-div{
  position: relative;
  margin-bottom: 3%;
}

.player-title{
  padding-top: 2em;
  font-size: 2rem;
  color: #EEEEEE;
}

.die-img{
  padding: 10%;
  padding-bottom: 0;
  max-width: 100%;
  filter: drop-shadow(0 0 10px #ee9d5b);
}

.img-shadow{
  position: absolute;
  top: 105%;
  left: 35%;
  width: 30%;
  height: 25%;
  background-color: #da974a;
  transform: perspective(10em) rotateX(60deg) scale(1, 0.5);
  filter: blur(4em);
}

.shake-transition{
  animation: shake 0.5s;
}

@keyframes shake{
  0%{
    transform: rotate(8deg);
  }

  30%{
    transform: rotate(-8deg);
  }

  60%{
    transform: rotate(8deg);
  }

  100%{
    tranform: rotate(-8deg);
  }
}

.shadow-transition{
  animation: shadow 0.5s;
}

@keyframes shadow{
  0%{
    transform: perspective(10em) rotateX(60deg) scale(1, 0.5);
  }

  30%{
    transform: perspective(10em) rotateX(60deg) scale(0.8, 0.5);
  }

  60%{
    transform: perspective(10em) rotateX(60deg) scale(0.8, 0.5);
  }

  100%{
    transform: perspective(10em) rotateX(60deg) scale(1, 0.5);
  }
}

@media(max-width: 991px){
  body{
    padding-bottom: 20vh;
  }

  .img-shadow{
    display: none;
  }

  .die-img{
    filter: 
      drop-shadow(0 0 10px #EEEEEE) drop-shadow(0 0 10px #ee9d5b);
  }
}

/* Contact */

#contact{
  position: absolute;
  bottom: 0; 
  width: 100%;
}

.contact-link-icon{
  display: inline-block;
  color: #EEEEEE;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.2s ease;
}

.contact-link-icon:hover{
  color:black;
  transform: scale(1.2);
  filter: drop-shadow(0px 0px 3px #EEEEEE);
}

.copyright-text{
  margin-top: 0.5%;
}